# Core ML
ultralytics
opencv-python
numpy
pillow
pyyaml
torch
torchvision
requests
albumentations
roboflow

# PyTorch Geometric (ST-GNN)
torch-geometric
torch-scatter
torch-sparse

# Google Earth Engine
earthengine-api

# Web / API
flask
flask-cors
pandas
matplotlib
pymongo
python-dotenv
scikit-learn
seaborn
